<div style="margin-top:10px; line-height:1.5;">

  <p id="award-a1" style="margin-bottom:10px;">
    <strong>[A1]</strong> <span style="font-weight:600;">(International Level)</span> 
    <strong>Bronze Award of the 9th China International College Students Innovation Competition</strong>
    <span style="float:right; font-weight:500;">Apr 2024</span><br>
    <em style="color:#666;">Organizing Committee of China College Students "Internet+" Competition</em>
  </p>

  <p id="award-a2" style="margin-bottom:10px;">
    <strong>[A2]</strong> <span style="font-weight:600;">(National Level)</span> 
    <strong>The First Prize of the 18th "Challenge Cup" National Undergraduate Curricular Academic Science and Technology Works</strong>
    <span style="float:right; font-weight:500;">Oct 2023</span><br>
    <em style="color:#666;">China Association for Science and Technology, Ministry of Education of the PRC, Chinese Academy of Social Sciences</em>
  </p>

  <p id="award-a3" style="margin-bottom:10px;">
    <strong>[A3]</strong> <span style="font-weight:600;">(International Level)</span> 
    <strong>Bronze Award of the 8th China College Students "Internet+" Innovation and Entrepreneurship Competition</strong>
    <span style="float:right; font-weight:500;">Apr 2023</span><br>
    <em style="color:#666;">Organizing Committee of China College Students "Internet+" Competition</em>
  </p>

  <p id="award-a4" style="margin-bottom:10px;">
    <strong>[A4]</strong> <span style="font-weight:600;">(National Level)</span> 
    <strong>Second Prize of the 15th China College Student Computer Design Competition</strong>
    <span style="float:right; font-weight:500;">Jul 2022</span><br>
    <em style="color:#666;">Organizing Committee of Chinese College Student Computer Design Competition</em>
  </p>

  <p id="award-a5" style="margin-bottom:10px;">
    <strong>[A5]</strong> <span style="font-weight:600;">(National Level)</span> 
    <strong>Second Prize of the 15th Energy Saving and Emission Reduction Competition</strong>
    <span style="float:right; font-weight:500;">Aug 2022</span><br>
    <em style="color:#666;">China College Student Energy Conservation and Emission Reduction Social Practice and Technology Competition Committee</em>
  </p>

  <p id="award-a6" style="margin-bottom:10px;">
    <strong>[A6]</strong> <span style="font-weight:600;">(National Level)</span> 
    <strong>Third Prize and Best Rookie Award of Formula Student Competition</strong>
    <span style="float:right; font-weight:500;">Oct 2022</span><br>
    <em style="color:#666;">China Society of Automotive Engineers, Organizing Committee of FSAC</em>
  </p>

</div>
