<div class='paper-box'>
  <div class='paper-box-image'>
    <div>
      <div class="badge">Under Review</div>
      <img src='images/publications/starc_icra2026/Overview.png' alt="sym" width="100%" style="border-radius:8px; margin-bottom: 8px; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
      <img src='images/publications/starc_icra2026/perception.png' alt="sym" width="100%" style="border-radius:8px; margin-bottom: 8px; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
    </div>
  </div>

  <div class='paper-box-text'>
    <h3 style="margin:0 0 6px 0; font-size:1.3rem; font-weight:700; color:#222;">
      STARC: See-Through-Wall Augmented Reality Framework for Human-Robot Collaboration in Emergency Response
    </h3>

    <p style="margin:4px 0 10px 0; font-size:0.9rem; color:#666; font-style:italic;">
      Under review for an international robotics conference
    </p>


    <p style="margin:0 0 12px 0; font-size:0.95rem; color:#444;">
      Shenghai Yuan<sup style="font-size:1.0em;">*</sup>,
      Weixiang Guo<sup style="font-size:1.0em;">*</sup>,
      <strong>Tianxin Hu</strong>, Yu Yang, Jinyu Chen, Rui Qian, Zhongyuan Liu, Lihua Xie
    </p>

    <div style="background:#f3f4f6; border-left:3px solid #2b6cb0;
                padding:12px 14px; border-radius:6px; margin:0.5em 0 1.2em 0;">
      <i class="fas fa-lightbulb" style="color:#2b6cb0; margin-right:8px;"></i>
      <span style="font-size:0.96rem; line-height:1.6; color:#333;">
        We present an energy-constrained trajectory planning framework for planetary rovers that explicitly models hybrid RTG–solar power flow. The method ensures smooth and dynamically feasible trajectories while strictly satisfying instantaneous power and cumulative energy limits.
      </span>
    </div>

    <div style="margin-top:1em; text-align:center;">
      <a href="https://arxiv.org/pdf/2509.15507"
        style="margin:0 1em; text-decoration:underline;">
        <i class="ai ai-arxiv ai-fw"></i> arXiv
      </a>
      <a style="margin:0 1em; text-decoration:underline; color:#aaa; pointer-events:none; cursor:default;">
        <i class="fab fa-fw fa-github"></i> GitHub
      </a>
      <!-- <a href="https://www.youtube.com/watch?v=LU1L7FAnooU"
        style="margin:0 1em; text-decoration:underline;">
        <i class="fab fa-fw fa-youtube"></i> YouTube
      </a> -->
      <a style="margin:0 1em; text-decoration:underline; color:#aaa; pointer-events:none; cursor:default;">
        <i class="fab fa-fw fa-youtube"></i> YouTube
      </a>

    </div>
  </div>
</div>
