<div class='paper-box'>
  <div class='paper-box-image' style='border-bottom:none; padding-bottom:0;'>
    <div>
      <div class="badge">ICRA 2025</div>
      <img src='images/publications/svplan_icra2025/motivation.svg' alt="sym" width="100%" style="border-radius:8px; margin-bottom: 8px; box-shadow: 0 2px 6px rgba(0,0,0,0.1);">
      <video src='images/publications/svplan_icra2025/simulation.mp4' width="100%" playsinline autoplay loop muted style="border-radius:8px; box-shadow:0 2px 6px rgba(0,0,0,0.1);"></video>
    </div>
  </div>

  <div class='paper-box-text'>
    <h3 style="margin:0 0 6px 0; font-size:1.3rem; font-weight:700; color:#222;">
      Swept volume-aware trajectory planning and mpc tracking for multi-axle swerve-drive amrs
    </h3>

    <p style="margin:4px 0 10px 0; font-size:0.9rem; color:#666; font-style:italic;">
      Accepted by <a href="https://2025.ieee-icra.org/"
        target="_blank" style="color:#666; text-decoration:underline;">
        <strong>IEEE International Conference on Robotics and Automation (ICRA)</strong>
      </a>, May 2025
    </p>

    <p style="margin:0 0 12px 0; font-size:0.95rem; color:#444;">
      <strong>Tianxin Hu</strong><sup style="font-size:1.0em;">*</sup>, 
      Shenghai Yuan<sup style="font-size:1.0em;">*</sup>, 
      Ruofei Bai, Xinhang Xu, Yuwen Liao, Fen Liu, Lihua Xie
    </p>

    <div style="background:#f3f4f6; border-left:3px solid #2b6cb0;
                padding:12px 14px; border-radius:6px; margin:0.5em 0 1.2em 0;">
      <i class="fas fa-lightbulb" style="color:#2b6cb0; margin-right:8px;"></i>
      <span style="font-size:0.96rem; line-height:1.6; color:#333;">
        We propose a swept volume-aware trajectory planning and MPC tracking framework for multi-axle AMRs,
        enabling real-time path optimization that minimizes swept volume and enhances maneuverability
        in confined environments.
      </span>
    </div>

    <div style="margin-top:1em; text-align:center;">
      <a href="https://arxiv.org/pdf/2412.16875"
        style="margin:0 1em; text-decoration:underline;">
        <i class="ai ai-arxiv ai-fw"></i> arXiv
      </a>
      <a href="https://github.com/ccwss-maker/svplan"
        style="margin:0 1em; text-decoration:underline;">
        <i class="fab fa-fw fa-github"></i> GitHub
      </a>
      <a href="https://www.youtube.com/watch?v=LU1L7FAnooU"
        style="margin:0 1em; text-decoration:underline;">
        <i class="fab fa-fw fa-youtube"></i> Video
      </a>
    </div>
  </div>
</div>
